<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <style>
      body {
        background-color: rgba(0, 0, 177, 0.25);
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
      }
      table {
        margin: auto;
        font-family: 'Cinzel Decorative', cursive;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
